__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
build/
dist/
*.spec
data/fragments/*
!data/fragments/a/.gitkeep
!data/fragments/b/.gitkeep
!data/fragments/c/.gitkeep
data/output/*
!data/output/.gitkeep
logs/*
!logs/.gitkeep
